<EditForm Model="@student" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
    <div class="form-group">
        <label>Student's Image':</label>
        <div>
            <img src="@student.StudentImg" style="width: 250px; height: 250px;"> <br /> <br />
            <InputFile OnChange="@OnInputFileChanged"></InputFile>
        </div>
    </div>
    <div class="form-group">
        <label>Student Name:</label>
        <div>
            <InputText @bind-Value="@student.StudentName" class="form-control" />
            <ValidationMessage For="@(() => student.StudentName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Student Age:</label>
        <div>
            <InputNumber @bind-Value="@student.StudentAge" class="form-control" />
            <ValidationMessage For="@(() => student.StudentAge)" />
        </div>
    </div>
    <div class="form-group">
        <label>Student Gender:</label>
        <div>
            <InputSelect @bind-Value="@student.StudentGender" class="form-control">
                <option value="">-- Select Gender --</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="An Individual">Individual</option>
            </InputSelect>
            <ValidationMessage For="@(() => student.StudentGender)" />
        </div>
    </div>
    <div class="form-group">
        <label>Student's Contact Number:</label>
        <div>
            <InputNumber @bind-Value="@student.StudentContact" class="form-control" />
            <ValidationMessage For="@(() => student.StudentContact)" />
        </div>
    </div>
    <div class="form-group">
        <label>Parents Contact Number:</label>
        <div>
            <InputNumber @bind-Value="@student.ParentsContact" class="form-control" />
            <ValidationMessage For="@(() => student.ParentsContact)" />
        </div>
    </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="students" />
</EditForm>

@code {

    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Student? student { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    {
        var file = inputFileChangeEvent.File;

        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        student.StudentImg = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
    }
}